<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <strong>Сфера деятельности:</strong> {{ scope }} <br><br>
        <strong>Адрес:</strong> {{ address }} <br><br>
        <strong>О компании:</strong> {{ about_t }} <br><br>
        <strong>О команде:</strong> {{ about_c }} <br><br>
        <strong>Контактное лицо:</strong> {{ contact_person }} <br><br>
        <strong>Должность:</strong> {{ position }} <br><br>
        <strong>Email:</strong> {{ email }} <br><br>
        <strong>Телефон:</strong> {{ phone }} <br><br>
    </p>
</body>
</html>